@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Use this area to provide additional information.</p>

<p><strong>Developed by @ViewData["developer"]</strong></p>
<address>
    <strong>More information: <a href="https://www.linkedin.com/in/geovane-brandao-silva/">Geovane Silva on LinkedIn</a></strong>
</address>